{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load template_methods %}

{% block content %}
    <div class="card" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; margin-top: 2rem">
        <div class="card-body row">
            <div class="col-md-9">
                <h1>{{ object.title }}</h1>
            <p>{{ object.brief }}</p>
                <p class="lead">Created by <a href="
                {% if user == object.creator %}
                    {% url 'profile' %}
                {% else %}
                    {% url 'specific_profile' object.creator %}
                {% endif %}">{{ object.creator }}</a> on {{ object.date_created|date:"d F, Y" }}
                </p>
            </div>
            <div class="col-md-3" style="float: right">
                <div>{{ object.award|safe }}</div>
            </div>
        </div>
    </div>


    <div class="card top-rect">
        <ul style="padding-left: 1rem; float: left">
            <li class="masterdetail"><a href="{% url 'tutorial_overview' object.pk %}">Overview</a></li>
            <li class="masterdetail"><a href="{% url 'tutorial_data' object.pk %}">Data</a></li>
        </ul>

    </div>

    {% block detailedinfo %}
    {% endblock %}


    {% if object.creator == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'tutorial_update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'tutorial_delete' object.id %}">Delete</a>
        </div>
    {% endif %}

    <hr class="my-4">


{% endblock %}