{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-10 offset-md-1">
        <div class="content-section">
            <form enctype="multipart/form-data" method="post" novalidate>
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Create a new tutorial</legend>
                    <input type="hidden" name="next" value="{{ next }}">
                    <div class="container" style="margin-top: 2rem; padding-left: 0; margin-bottom: 1rem">

                        {{ form.title|as_crispy_field }}

                        <ul class="nav nav-pills">
                            <li class="nav-item"><a data-toggle="tab" class="nav-link show active"
                                                    href="#overview">Overview</a>
                            </li>
                            <li class="nav-item"><a data-toggle="tab" class="nav-link show" href="#data">Data</a>
                            </li>
                        </ul>

                        <div id="challengeMasterTabContent" class="container challengetabcontent" style="width: 100%">

                            <div id="overview" class="tab-pane fade show active">

                                <ul class="nav flex-column nav-pills" style="float:left; width: 20%;">
                                    <li class="nav-item"><a data-toggle="tab" class="nav-link-form nav-link show"
                                                            href="#prerequisites">Prerequisites</a>
                                    </li>
                                    <li class="nav-item"><a data-toggle="tab" class="nav-link nav-link-form show active"
                                                            href="#description">Description</a>
                                    </li>

                                </ul>


                                <div id="challengeTabContent" class="container challengecreationtabcontent">

                                    <div id="prerequisites" class="tab-pane fade">
                                        {{ form.prerequisites|as_crispy_field }}
                                    </div>
                                    <div id="description" class="tab-pane fade show active">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                </div>

                            </div>

                            <div id="data" class="tab-pane fadee">
                                {{ form.data|as_crispy_field }}
                            </div>

                        </div>


                        <div class="clearfix"></div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Confirm</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}