{% extends 'tutorial/tutorial_detail.html' %}

{% block detailedinfo %}


    <div class="container" style="margin-top: 2rem; padding-left: 0;padding-right: 0; margin-bottom: 1rem">

        <ul class="nav flex-column nav-pills" style="float:left; width: 20%;">
            <li class="nav-item"><a data-toggle="tab" class="nav-link show" href="#prerequisites">Prerequisites</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link show active" href="#description">Description</a></li>
        </ul>


        <div id="challengeTabContent" class="jumbotron challengetabcontent" style="overflow: auto">


            <div id="prerequisites" class="tab-pane fade">
                {{ object.prerequisites|safe }}
            </div>

            <div id="description" class="tab-pane fade show active">
                {{ object.description|safe }}
            </div>
        </div>



    </div>

    <div class="clearfix"></div>

{% endblock %}