{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-8 offset-md-2" style="margin-top: 2rem">
        <form method="post" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign up as a {{ user_type }}</legend>
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Sign up</button>
            </div>
        </form>
    </div>
{% endblock %}